.https-apple-com {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.https-apple-com .overlap-wrapper {
  background-color: #ffffff;
  height: 5504.72px;
  width: 1920px;
}

.https-apple-com .overlap {
  background: linear-gradient(180deg, rgb(29, 29, 31) 0.8%, rgb(255, 255, 255) 0.8%);
  height: 5505px;
  position: relative;
}

.https-apple-com .div {
  height: 4637px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.https-apple-com .section-group-tv {
  background-color: #ffffff;
  height: 705px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 3932px;
  width: 1920px;
}

.https-apple-com .tabpanel {
  background-color: #ffffff;
  height: 667px;
  left: 1592px;
  position: absolute;
  top: 0;
  width: 1265px;
}

.https-apple-com .overlap-group {
  height: 667px;
  left: 8px;
  position: relative;
  width: 336px;
}

.https-apple-com .link {
  height: 667px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

.https-apple-com .preview-now-the {
  background-color: #ffffff;
  border-radius: 980px;
  height: 44px;
  left: 68px;
  opacity: 0;
  position: absolute;
  top: 593px;
  width: 151px;
}

.https-apple-com .text-wrapper {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 16px;
  left: 22px;
  letter-spacing: -0.22px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 86px;
}

.https-apple-com .icon {
  height: 1px;
  left: 112px;
  position: absolute;
  top: 29px;
  width: 22px;
}

.https-apple-com .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16.6px;
  font-weight: 700;
  height: 24px;
  left: 259px;
  letter-spacing: 0;
  line-height: 22px;
  opacity: 0;
  position: absolute;
  text-shadow: 0px 0px 5px #00000099;
  top: 602px;
  white-space: nowrap;
  width: 77px;
}

.https-apple-com .link-wrapper {
  background-color: #ffffff;
  height: 667px;
  left: -938px;
  position: absolute;
  top: 0;
  width: 1265px;
}

.https-apple-com .img {
  height: 667px;
  left: 938px;
  position: absolute;
  top: 0;
  width: 320px;
}

.https-apple-com .overlap-group-wrapper {
  background-color: #ffffff;
  height: 667px;
  left: 328px;
  position: absolute;
  top: 0;
  width: 1265px;
}

.https-apple-com .overlap-2 {
  background-image: url(../../../static/img/link-2.png);
  background-size: 100% 100%;
  height: 667px;
  left: 8px;
  position: relative;
  width: 1250px;
}

.https-apple-com .stream-now-the {
  background-color: #ffffff;
  border-radius: 980px;
  height: 44px;
  left: 68px;
  opacity: 1;
  position: absolute;
  top: 573px;
  width: 146px;
}

.https-apple-com .text-wrapper-3 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 16px;
  left: 22px;
  letter-spacing: -0.22px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 81px;
}

.https-apple-com .icon-2 {
  height: 14px;
  left: 107px;
  position: absolute;
  top: 16px;
  width: 17px;
}

.https-apple-com .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16.2px;
  font-weight: 700;
  height: 24px;
  left: 254px;
  letter-spacing: 0;
  line-height: 22px;
  opacity: 1;
  position: absolute;
  text-shadow: 0px 0px 5px #00000099;
  top: 582px;
  white-space: nowrap;
  width: 60px;
}

.https-apple-com .overlap-group-2 {
  height: 24px;
  left: 318px;
  position: absolute;
  top: 582px;
  width: 165px;
}

.https-apple-com .text-wrapper-5 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  height: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  opacity: 1;
  position: absolute;
  text-shadow: 0px 0px 5px #00000099;
  top: 0;
  white-space: nowrap;
  width: 5px;
}

.https-apple-com .lock-up-your-lords {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.2px;
  font-weight: 400;
  height: 22px;
  left: 5px;
  letter-spacing: 0;
  line-height: 22px;
  opacity: 1;
  position: absolute;
  text-shadow: 0px 0px 5px #00000099;
  top: 1px;
  white-space: nowrap;
  width: 160px;
}

.https-apple-com .tablist-tab-item {
  background-color: #000000cc;
  border-radius: 4px;
  height: 8px;
  left: 846px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-2 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 868px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-3 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 890px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-4 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 912px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-5 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 934px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-6 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 956px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-7 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 978px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-8 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 1000px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-a {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 1022px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-9 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 1044px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .tablist-tab-item-10 {
  background-color: #0000006b;
  border-radius: 4px;
  height: 8px;
  left: 1066px;
  position: absolute;
  top: 683px;
  width: 8px;
}

.https-apple-com .button-play-apple-TV {
  height: 22px;
  left: 1860px;
  position: absolute;
  top: 677px;
  width: 26px;
}

.https-apple-com .section {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 12px;
  height: 1776px;
  left: 12px;
  position: absolute;
  top: 2156px;
  width: 1896px;
}

.https-apple-com .overlap-3 {
  height: 1820px;
  left: 954px;
  position: absolute;
  top: -44px;
  width: 942px;
}

.https-apple-com .div-module-content-wrapper {
  background-color: #ffffff;
  height: 636px;
  left: 0;
  position: absolute;
  top: 1184px;
  width: 942px;
}

.https-apple-com .div-module-content {
  background-color: #fbfbfd;
  height: 624px;
}

.https-apple-com .div-unit-wrapper {
  background-color: #fbfbfd;
  height: 624px;
  width: 942px;
}

.https-apple-com .overlap-4 {
  background-image: url(../../../static/img/figure.png);
  background-size: 100% 100%;
  height: 580px;
  position: relative;
  top: 44px;
}

.https-apple-com .heading {
  height: 32px;
  left: 256px;
  position: absolute;
  top: 58px;
  width: 430px;
}

.https-apple-com .presentation-subhead {
  height: 52px;
  left: 314px;
  position: absolute;
  top: 100px;
  width: 315px;
}

.https-apple-com .p {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 18.9px;
  font-weight: 400;
  height: 25px;
  left: 17px;
  letter-spacing: 0.34px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 282px;
}

.https-apple-com .overlap-group-3 {
  height: 25px;
  left: 12px;
  position: absolute;
  top: 25px;
  width: 292px;
}

.https-apple-com .text-wrapper-6 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 18.2px;
  font-weight: 400;
  height: 25px;
  left: 0;
  letter-spacing: 0.34px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 286px;
}

.https-apple-com .superscript-link {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 15px;
  left: 286px;
  letter-spacing: 0.34px;
  line-height: 15.6px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 6px;
}

.https-apple-com .div-cta-links {
  height: 22px;
  left: 0;
  position: absolute;
  top: 164px;
  width: 942px;
}

.https-apple-com .link-see-what-your {
  color: #0066cc;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 20px;
  left: 350px;
  letter-spacing: -0.37px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 229px;
}

.https-apple-com .link-see-what-your-2 {
  height: 21px;
  left: 584px;
  position: absolute;
  top: 1px;
  width: 7px;
}

.https-apple-com .div-wrapper {
  background-color: #ffffff;
  height: 636px;
  left: 0;
  position: absolute;
  top: 592px;
  width: 942px;
}

.https-apple-com .div-unit-wrapper-2 {
  background-color: #000000;
  height: 624px;
  width: 942px;
}

.https-apple-com .overlap-group-4 {
  background-image: url(../../../static/img/figure-2.png);
  background-size: 100% 100%;
  height: 580px;
  position: relative;
  top: 44px;
}

.https-apple-com .heading-2 {
  height: 44px;
  left: 256px;
  position: absolute;
  top: 53px;
  width: 430px;
}

.https-apple-com .text-wrapper-7 {
  color: #f5f5f7;
  font-family: "Inter", Helvetica;
  font-size: 36.2px;
  font-weight: 600;
  height: 48px;
  left: 112px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 206px;
}

.https-apple-com .presentation-subhead-2 {
  height: 26px;
  left: 256px;
  position: absolute;
  top: 101px;
  width: 430px;
}

.https-apple-com .text-wrapper-8 {
  color: #f5f5f7;
  font-family: "Inter", Helvetica;
  font-size: 18.4px;
  font-weight: 400;
  height: 25px;
  left: 83px;
  letter-spacing: 0.34px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 263px;
}

.https-apple-com .div-cta-links-2 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 139px;
  width: 942px;
}

.https-apple-com .link-learn-more {
  color: #2997ff;
  font-family: "Inter", Helvetica;
  font-size: 16.9px;
  font-weight: 400;
  height: 20px;
  left: 383px;
  letter-spacing: -0.37px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 87px;
}

.https-apple-com .link-learn-more-2 {
  height: 21px;
  left: 475px;
  position: absolute;
  top: 1px;
  width: 7px;
}

.https-apple-com .text-wrapper-9 {
  color: #2997ff;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 20px;
  left: 514px;
  letter-spacing: -0.37px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 29px;
}

.https-apple-com .img-2 {
  height: 21px;
  left: 549px;
  position: absolute;
  top: 1px;
  width: 7px;
}

.https-apple-com .div-2 {
  background-color: #ffffff;
  height: 636px;
  left: 0;
  position: absolute;
  top: 0;
  width: 942px;
}

.https-apple-com .overlap-group-5 {
  background-image: url(../../../static/img/figure-4.png);
  background-size: 100% 100%;
  height: 580px;
  position: relative;
  top: 44px;
}

.https-apple-com .text-wrapper-10 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 36.1px;
  font-weight: 600;
  height: 48px;
  left: 80px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 271px;
}

.https-apple-com .give-the-gifts-they-wrapper {
  height: 52px;
  left: 316px;
  position: absolute;
  top: 101px;
  width: 310px;
}

.https-apple-com .give-the-gifts-they {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 18.2px;
  font-weight: 400;
  height: 51px;
  left: 35px;
  letter-spacing: 0.34px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 240px;
}

.https-apple-com .div-cta-links-3 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 165px;
  width: 942px;
}

.https-apple-com .link-shop-holiday {
  color: #0066cc;
  font-family: "Inter", Helvetica;
  font-size: 16.9px;
  font-weight: 400;
  height: 20px;
  left: 445px;
  letter-spacing: -0.37px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 40px;
}

.https-apple-com .link-shop-holiday-2 {
  height: 21px;
  left: 490px;
  position: absolute;
  top: 1px;
  width: 7px;
}

.https-apple-com .overlap-5 {
  height: 1820px;
  left: 0;
  position: absolute;
  top: -44px;
  width: 942px;
}

.https-apple-com .overlap-group-6 {
  background-image: url(../../../static/img/figure-1.png);
  background-size: 100% 100%;
  height: 580px;
  position: relative;
  top: 44px;
}

.https-apple-com .heading-3 {
  height: 33px;
  left: 256px;
  position: absolute;
  top: 58px;
  width: 430px;
}

.https-apple-com .get-up-to-daily-wrapper {
  height: 52px;
  left: 326px;
  position: absolute;
  top: 100px;
  width: 290px;
}

.https-apple-com .get-up-to-daily {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 18.5px;
  font-weight: 400;
  height: 51px;
  left: 11px;
  letter-spacing: 0.34px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 269px;
}

.https-apple-com .link-learn-more-3 {
  color: #0066cc;
  font-family: "Inter", Helvetica;
  font-size: 16.9px;
  font-weight: 400;
  height: 20px;
  left: 358px;
  letter-spacing: -0.37px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 87px;
}

.https-apple-com .link-learn-more-4 {
  height: 21px;
  left: 450px;
  position: absolute;
  top: 1px;
  width: 7px;
}

.https-apple-com .link-apply-now-for {
  color: #0066cc;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 20px;
  left: 489px;
  letter-spacing: -0.37px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 80px;
}

.https-apple-com .link-apply-now-for-2 {
  height: 21px;
  left: 574px;
  position: absolute;
  top: 1px;
  width: 7px;
}

.https-apple-com .overlap-group-7 {
  background-image: url(../../../static/img/figure-3.png);
  background-size: 100% 100%;
  height: 580px;
  position: relative;
  top: 44px;
}

.https-apple-com .heading-4 {
  height: 53px;
  left: 256px;
  position: absolute;
  top: 59px;
  width: 430px;
}

.https-apple-com .presentation-subhead-3 {
  height: 26px;
  left: 256px;
  position: absolute;
  top: 121px;
  width: 430px;
}

.https-apple-com .text-wrapper-11 {
  color: #f5f5f7;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 25px;
  left: 96px;
  letter-spacing: 0.34px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 239px;
}

.https-apple-com .div-cta-links-4 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 159px;
  width: 942px;
}

.https-apple-com .overlap-group-8 {
  background-image: url(../../../static/img/figure-5.png);
  background-size: 100% 100%;
  height: 580px;
  position: relative;
  top: 44px;
}

.https-apple-com .text-wrapper-12 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 36.9px;
  font-weight: 600;
  height: 48px;
  left: 128px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 173px;
}

.https-apple-com .presentation-subhead-4 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 101px;
  width: 942px;
}

.https-apple-com .text-wrapper-13 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 18.2px;
  font-weight: 400;
  height: 25px;
  left: 300px;
  letter-spacing: 0.34px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 342px;
}

.https-apple-com .link-learn-more-5 {
  color: #0066cc;
  font-family: "Inter", Helvetica;
  font-size: 16.9px;
  font-weight: 400;
  height: 20px;
  left: 383px;
  letter-spacing: -0.37px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 87px;
}

.https-apple-com .link-buy-iphone {
  color: #0066cc;
  font-family: "Inter", Helvetica;
  font-size: 16.7px;
  font-weight: 400;
  height: 20px;
  left: 514px;
  letter-spacing: -0.37px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 29px;
}

.https-apple-com .section-2 {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 12px;
  height: 2112px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 1920px;
}

.https-apple-com .overlap-6 {
  height: 2156px;
  position: relative;
  top: -44px;
}

.https-apple-com .div-3 {
  background-color: #ffffff;
  height: 748px;
  left: 0;
  position: absolute;
  top: 1408px;
  width: 1920px;
}

.https-apple-com .div-module-content-2 {
  background-color: #fbfbfd;
  height: 736px;
}

.https-apple-com .div-unit-wrapper-3 {
  background-color: #000000;
  height: 736px;
  width: 1920px;
}

.https-apple-com .overlap-group-9 {
  background-image: url(../../../static/img/figure-6.png);
  background-size: 100% 100%;
  height: 736px;
  position: relative;
}

.https-apple-com .heading-5 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 99px;
  width: 1920px;
}

.https-apple-com .text-wrapper-14 {
  color: #f5f5f7;
  font-family: "Inter", Helvetica;
  font-size: 51.3px;
  font-weight: 600;
  height: 67px;
  left: 793px;
  letter-spacing: -0.28px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 334px;
}

.https-apple-com .presentation-subhead-5 {
  height: 31px;
  left: 0;
  position: absolute;
  top: 165px;
  width: 1920px;
}

.https-apple-com .text-wrapper-15 {
  color: #f5f5f7;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 34px;
  left: 751px;
  letter-spacing: 0.11px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 418px;
}

.https-apple-com .div-cta-links-5 {
  height: 31px;
  left: 859px;
  position: absolute;
  top: 210px;
  width: 203px;
}

.https-apple-com .link-learn-more-6 {
  color: #2997ff;
  font-family: "Inter", Helvetica;
  font-size: 18.4px;
  font-weight: 400;
  height: 25px;
  left: -4px;
  letter-spacing: 0.23px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 101px;
}

.https-apple-com .link-learn-more-7 {
  height: 29px;
  left: 103px;
  position: absolute;
  top: 2px;
  width: 10px;
}

.https-apple-com .link-buy-iphone-2 {
  color: #2997ff;
  font-family: "Inter", Helvetica;
  font-size: 19.2px;
  font-weight: 400;
  height: 25px;
  left: 152px;
  letter-spacing: 0.23px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 35px;
}

.https-apple-com .img-3 {
  height: 29px;
  left: 193px;
  position: absolute;
  top: 2px;
  width: 10px;
}

.https-apple-com .div-4 {
  background-color: #ffffff;
  height: 748px;
  left: 0;
  position: absolute;
  top: 704px;
  width: 1920px;
}

.https-apple-com .div-unit-wrapper-4 {
  background-color: #fbfbfd;
  height: 736px;
  width: 1920px;
}

.https-apple-com .overlap-group-10 {
  background-image: url(../../../static/img/figure-7.png);
  background-size: 100% 100%;
  height: 736px;
  position: relative;
}

.https-apple-com .text-wrapper-16 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 51.3px;
  font-weight: 600;
  height: 67px;
  left: 901px;
  letter-spacing: -0.28px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 118px;
}

.https-apple-com .text-wrapper-17 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 24.3px;
  font-weight: 400;
  height: 34px;
  left: 822px;
  letter-spacing: 0.11px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 275px;
}

.https-apple-com .link-learn-more-8 {
  color: #0066cc;
  font-family: "Inter", Helvetica;
  font-size: 18.4px;
  font-weight: 400;
  height: 25px;
  left: -4px;
  letter-spacing: 0.23px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 101px;
}

.https-apple-com .text-wrapper-18 {
  color: #0066cc;
  font-family: "Inter", Helvetica;
  font-size: 19.2px;
  font-weight: 400;
  height: 25px;
  left: 152px;
  letter-spacing: 0.23px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 35px;
}

.https-apple-com .div-5 {
  background-color: #ffffff;
  height: 748px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.https-apple-com .overlap-group-11 {
  background-image: url(../../../static/img/figure-8.png);
  background-size: 100% 100%;
  height: 736px;
  position: relative;
}

.https-apple-com .text-wrapper-19 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 51.3px;
  font-weight: 600;
  height: 67px;
  left: 798px;
  letter-spacing: -0.28px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: -5px;
  white-space: nowrap;
  width: 324px;
}

.https-apple-com .text-wrapper-20 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 24.8px;
  font-weight: 400;
  height: 34px;
  left: 790px;
  letter-spacing: 0.11px;
  line-height: 31px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 341px;
}

.https-apple-com .nav-global {
  height: 44px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1920px;
}

.https-apple-com .footer {
  background-color: #f5f5f7;
  height: 867px;
  left: 0;
  position: absolute;
  top: 4637px;
  width: 1920px;
}

.https-apple-com .div-ac-gf-content {
  height: 867px;
  left: 448px;
  position: relative;
  width: 1024px;
}

.https-apple-com .section-footnotes {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d2d2d7;
  height: 295px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 980px;
}

.https-apple-com .list-item-trade-in {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 977px;
}

.https-apple-com .list-item-old-to-be {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 33px;
  white-space: nowrap;
  width: 974px;
}

.https-apple-com .list-item-value {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 49px;
  white-space: nowrap;
  width: 940px;
}

.https-apple-com .list-item-device {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 65px;
  white-space: nowrap;
  width: 963px;
}

.https-apple-com .list-item-vary {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 81px;
  white-space: nowrap;
  width: 957px;
}

.https-apple-com .list-item-trade-in-2 {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 97px;
  white-space: nowrap;
  width: 954px;
}

.https-apple-com .list-item-apply {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 113px;
  white-space: nowrap;
  width: 34px;
}

.https-apple-com .list-item-to-access {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 139px;
  white-space: nowrap;
  width: 960px;
}

.https-apple-com .list-item-latest {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 155px;
  white-space: nowrap;
  width: 960px;
}

.https-apple-com .list-item-salt-lake {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 171px;
  white-space: nowrap;
  width: 122px;
}

.https-apple-com .list-item-if-you {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 196px;
  white-space: nowrap;
  width: 629px;
}

.https-apple-com .overlap-group-12 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 545px;
}

.https-apple-com .list-item-learn-more {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 354px;
}

.https-apple-com .list-item-link {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 354px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
  width: 187px;
}

.https-apple-com .list-item {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 541px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 4px;
}

.https-apple-com .list-item-a {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 247px;
  white-space: nowrap;
  width: 229px;
}

.https-apple-com .navigation-apple {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 22px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 314px;
  white-space: nowrap;
  width: 90px;
}

.https-apple-com .navigation-apple-2 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 340px;
  white-space: nowrap;
  width: 30px;
}

.https-apple-com .navigation-apple-3 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 366px;
  white-space: nowrap;
  width: 24px;
}

.https-apple-com .navigation-apple-4 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 391px;
  white-space: nowrap;
  width: 25px;
}

.https-apple-com .navigation-apple-5 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 417px;
  white-space: nowrap;
  width: 39px;
}

.https-apple-com .navigation-apple-6 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 443px;
  white-space: nowrap;
  width: 36px;
}

.https-apple-com .navigation-apple-7 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 468px;
  white-space: nowrap;
  width: 35px;
}

.https-apple-com .navigation-apple-8 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 494px;
  white-space: nowrap;
  width: 44px;
}

.https-apple-com .navigation-apple-9 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 519px;
  white-space: nowrap;
  width: 64px;
}

.https-apple-com .navigation-apple-10 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 545px;
  white-space: nowrap;
  width: 36px;
}

.https-apple-com .navigation-apple-11 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 570px;
  white-space: nowrap;
  width: 68px;
}

.https-apple-com .navigation-apple-12 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 596px;
  white-space: nowrap;
  width: 57px;
}

.https-apple-com .navigation-apple-13 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 22px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 635px;
  white-space: nowrap;
  width: 73px;
}

.https-apple-com .navigation-apple-14 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 662px;
  white-space: nowrap;
  width: 35px;
}

.https-apple-com .navigation-apple-15 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 687px;
  white-space: nowrap;
  width: 63px;
}

.https-apple-com .navigation-apple-16 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 713px;
  white-space: nowrap;
  width: 56px;
}

.https-apple-com .navigation-apple-17 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 738px;
  white-space: nowrap;
  width: 65px;
}

.https-apple-com .navigation-apple-18 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 218px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 314px;
  white-space: nowrap;
  width: 48px;
}

.https-apple-com .navigation-apple-19 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 340px;
  white-space: nowrap;
  width: 125px;
}

.https-apple-com .navigation-apple-20 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 366px;
  white-space: nowrap;
  width: 116px;
}

.https-apple-com .navigation-apple-21 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 391px;
  white-space: nowrap;
  width: 64px;
}

.https-apple-com .navigation-apple-22 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 218px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 430px;
  white-space: nowrap;
  width: 83px;
}

.https-apple-com .navigation-apple-23 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 457px;
  white-space: nowrap;
  width: 59px;
}

.https-apple-com .navigation-apple-24 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 483px;
  white-space: nowrap;
  width: 59px;
}

.https-apple-com .navigation-apple-25 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 508px;
  white-space: nowrap;
  width: 70px;
}

.https-apple-com .navigation-apple-26 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 534px;
  white-space: nowrap;
  width: 76px;
}

.https-apple-com .navigation-apple-27 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 559px;
  white-space: nowrap;
  width: 84px;
}

.https-apple-com .navigation-apple-28 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 585px;
  white-space: nowrap;
  width: 75px;
}

.https-apple-com .navigation-apple-29 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 610px;
  white-space: nowrap;
  width: 88px;
}

.https-apple-com .navigation-apple-30 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 636px;
  white-space: nowrap;
  width: 71px;
}

.https-apple-com .navigation-apple-31 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 218px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 662px;
  white-space: nowrap;
  width: 57px;
}

.https-apple-com .navigation-apple-32 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 414px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 314px;
  white-space: nowrap;
  width: 68px;
}

.https-apple-com .navigation-apple-33 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 340px;
  white-space: nowrap;
  width: 68px;
}

.https-apple-com .navigation-apple-34 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 366px;
  white-space: nowrap;
  width: 62px;
}

.https-apple-com .navigation-apple-35 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 391px;
  white-space: nowrap;
  width: 84px;
}

.https-apple-com .navigation-apple-36 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 417px;
  white-space: nowrap;
  width: 69px;
}

.https-apple-com .navigation-apple-37 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 443px;
  white-space: nowrap;
  width: 93px;
}

.https-apple-com .navigation-apple-38 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 468px;
  white-space: nowrap;
  width: 121px;
}

.https-apple-com .navigation-apple-39 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 494px;
  white-space: nowrap;
  width: 82px;
}

.https-apple-com .navigation-apple-40 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 519px;
  white-space: nowrap;
  width: 55px;
}

.https-apple-com .navigation-apple-41 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 545px;
  white-space: nowrap;
  width: 124px;
}

.https-apple-com .navigation-apple-42 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 570px;
  white-space: nowrap;
  width: 72px;
}

.https-apple-com .navigation-apple-43 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 414px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 596px;
  white-space: nowrap;
  width: 83px;
}

.https-apple-com .navigation-apple-44 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 610px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 314px;
  white-space: nowrap;
  width: 74px;
}

.https-apple-com .navigation-apple-45 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 340px;
  white-space: nowrap;
  width: 111px;
}

.https-apple-com .navigation-apple-46 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 366px;
  white-space: nowrap;
  width: 102px;
}

.https-apple-com .navigation-apple-47 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 610px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 405px;
  white-space: nowrap;
  width: 80px;
}

.https-apple-com .navigation-apple-48 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 431px;
  white-space: nowrap;
  width: 117px;
}

.https-apple-com .navigation-apple-49 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 457px;
  white-space: nowrap;
  width: 77px;
}

.https-apple-com .navigation-apple-50 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 483px;
  white-space: nowrap;
  width: 95px;
}

.https-apple-com .navigation-apple-51 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 610px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 522px;
  white-space: nowrap;
  width: 86px;
}

.https-apple-com .navigation-apple-52 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 548px;
  white-space: nowrap;
  width: 111px;
}

.https-apple-com .navigation-apple-53 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 574px;
  white-space: nowrap;
  width: 130px;
}

.https-apple-com .navigation-apple-54 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 599px;
  white-space: nowrap;
  width: 146px;
}

.https-apple-com .navigation-apple-55 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 610px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 638px;
  white-space: nowrap;
  width: 93px;
}

.https-apple-com .navigation-apple-56 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 665px;
  white-space: nowrap;
  width: 121px;
}

.https-apple-com .navigation-apple-57 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 610px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 690px;
  white-space: nowrap;
  width: 171px;
}

.https-apple-com .navigation-apple-58 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 806px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 314px;
  white-space: nowrap;
  width: 75px;
}

.https-apple-com .navigation-apple-59 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 340px;
  white-space: nowrap;
  width: 71px;
}

.https-apple-com .navigation-apple-60 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 366px;
  white-space: nowrap;
  width: 56px;
}

.https-apple-com .navigation-apple-61 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 391px;
  white-space: nowrap;
  width: 71px;
}

.https-apple-com .navigation-apple-62 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 417px;
  white-space: nowrap;
  width: 128px;
}

.https-apple-com .navigation-apple-63 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 443px;
  white-space: nowrap;
  width: 41px;
}

.https-apple-com .navigation-apple-64 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 468px;
  white-space: nowrap;
  width: 141px;
}

.https-apple-com .navigation-apple-65 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 494px;
  white-space: nowrap;
  width: 129px;
}

.https-apple-com .navigation-apple-66 {
  color: #1d1d1f;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 16px;
  left: 806px;
  letter-spacing: -0.12px;
  line-height: 16px;
  position: absolute;
  top: 533px;
  white-space: nowrap;
  width: 72px;
}

.https-apple-com .navigation-apple-67 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 559px;
  white-space: nowrap;
  width: 60px;
}

.https-apple-com .navigation-apple-68 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 585px;
  white-space: nowrap;
  width: 99px;
}

.https-apple-com .navigation-apple-69 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 610px;
  white-space: nowrap;
  width: 119px;
}

.https-apple-com .navigation-apple-70 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 636px;
  white-space: nowrap;
  width: 52px;
}

.https-apple-com .navigation-apple-71 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 662px;
  white-space: nowrap;
  width: 117px;
}

.https-apple-com .navigation-apple-72 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 687px;
  white-space: nowrap;
  width: 38px;
}

.https-apple-com .navigation-apple-73 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 806px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 713px;
  white-space: nowrap;
  width: 81px;
}

.https-apple-com .section-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #d2d2d7;
  height: 25px;
  left: 22px;
  position: absolute;
  top: 788px;
  width: 980px;
}

.https-apple-com .overlap-7 {
  height: 16px;
  position: relative;
  top: -1px;
  width: 518px;
}

.https-apple-com .more-ways-to-shop {
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  width: 375px;
}

.https-apple-com .span {
  color: #6e6e73;
}

.https-apple-com .text-wrapper-21 {
  color: #0066cc;
  text-decoration: underline;
}

.https-apple-com .text-wrapper-22 {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  left: 374px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 144px;
}

.https-apple-com .section-copyright {
  color: #6e6e73;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
  width: 272px;
}

.https-apple-com .section-list {
  border-color: #86868b;
  border-right-style: solid;
  border-right-width: 1px;
  height: 16px;
  left: 324px;
  position: absolute;
  top: 822px;
  width: 89px;
}

.https-apple-com .link-privacy-policy {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 79px;
}

.https-apple-com .link-terms-of-use-wrapper {
  border-color: #86868b;
  border-right-style: solid;
  border-right-width: 1px;
  height: 16px;
  left: 424px;
  position: absolute;
  top: 822px;
  width: 86px;
}

.https-apple-com .link-terms-of-use {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 75px;
}

.https-apple-com .link-sales-and-wrapper {
  border-color: #86868b;
  border-right-style: solid;
  border-right-width: 1px;
  height: 16px;
  left: 520px;
  position: absolute;
  top: 822px;
  width: 116px;
}

.https-apple-com .link-sales-and {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 105px;
}

.https-apple-com .link-legal-wrapper {
  border-color: #86868b;
  border-right-style: solid;
  border-right-width: 1px;
  height: 16px;
  left: 646px;
  position: absolute;
  top: 822px;
  width: 41px;
}

.https-apple-com .link-legal {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 31px;
}

.https-apple-com .section-list-2 {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 16px;
  left: 698px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 821px;
  white-space: nowrap;
  width: 50px;
}

.https-apple-com .section-link-united {
  color: #424245;
  font-family: "Inter", Helvetica;
  font-size: 11.8px;
  font-weight: 400;
  height: 14px;
  left: 925px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 822px;
  white-space: nowrap;
  width: 77px;
}
